body{
    background: url('./background3.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* background-position: top -800px left; */
}

.youtube-video-background {
  background: url(/images/video-bg.jpg) no-repeat #333333;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}
.video-box,
.video-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-box {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-box {
    width: 300%;
    left: -100%;
  }
}

.nav {
  background-color: white;
  width: 100%;
  height: 100px;
}

.bg-video {
  /* Фиксируем видеоролик, чтобы он занимал всю площадь страницы
  от верхнего левого угла */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Определяем, что все другие элементы на странице будут поверх видео */
  z-index: -100;
  object-fit: cover;
}

.has-text-primary-00{
    color: #c5c5c5 !important;
    font-family: "Google Sans", sans-serif!important;
}

.ul > li{
  font-size: 18px;
  font-weight: 600;
  color: #c5c5c5;
}

.label {
  color:#c5c5c5 !important;
}

/* #spinner{
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#spin{
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 9999;
} */


.preloader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dots span {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: black;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 0.6s infinite alternate;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from { transform: translateY(0); opacity: 0.5; }
  to { transform: translateY(-15px); opacity: 1; }
}

.section {
  opacity: 0;
  animation: ani 3.5s forwards;
}

.anim {
  opacity: 0;
  animation: ani 3.5s forwards;
}

@keyframes ani {
  0% {opacity: 0; margin-bottom: 200px;}
  100% {opacity: 1;margin-bottom: 0px;}
}

.poiret_one{
  font-family: "Poiret One", sans-serif!important;
      margin-block-start: 0em;
    margin-block-end: 0em;
}

.wdxl{
  font-family: "WDXL Lubrifont SC", sans-serif!important;
}